.container{
    display: flex;
    overflow-x: hidden;
}

.items-column{
    flex-wrap: wrap;
    margin-left: 4rem;
}

li{
    margin-bottom: 1rem;
}

.items{
    list-style-type: none;
}

.item-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.angle{
    position: relative;
    top: 5px;
    left: 1px;
}

.icon{
    color: white;
    height: 2rem;
    width: 2rem;
    padding: 0.28rem;
    margin-right: 0.70rem;
}

.fb{
    background-color: #0066cc;   
}

.item-inline{
    display: inline;
}

.tw{
    background-color: #008ae6;
}

.yt{
    background-color: red;
}

.it{
    background-color: #e65c00;
}

.btn-signup{
    background-color: #0000ff;
    color: ghostwhite;
    width: 7.5rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 17px;
    border-style: hidden;
}

.input-signup{
    width: 18.5rem;
    height: 2.4rem;
    padding-left: 1rem;
    font-size: 20px;
    border-style: hidden;
    background-color: #e6e6e6;
}

.language-select{
    height: 2rem;
    width: 7rem;
    position: relative;
    border-radius: 3px;
}

.language-select::after{
    content: "▼";
    padding: 4px 1px;
    position: absolute;
    right: 10px;
    width: 10%;
    height: 30%;
    pointer-events: none;
}

.languages{
    height: 2rem;
    width: 100%;
    padding: 5px 8px;
    background-color: #e6e6e6;
    font-size: 12px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}