.logo-footer{
    font-size: 60px;
}

.items{
    list-style-type: none;
}

.item-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.angle{
    position: relative;
    top: 5px;
    left: 1px;
}

.fb-icon{
    background-color: #0000ff;
    color: white;
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-right: 10px;
}

.item-inline{
    display: inline;
}

.tw-icon{
    background-color: #b1c5ff;
    color: white;
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-right: 10px;
}