.container{
    display: flex;
    flex-wrap: wrap;
}

.logo-footer{
    font-size: 60px;
}

li{
    margin-bottom: 13px;
}

.items{
    list-style-type: none;
}

.item-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.angle{
    position: relative;
    top: 5px;
    left: 1px;
}

.icon{
    color: white;
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-right: 10px;
}

.fb{
    background-color: #0000ff;   
}

.item-inline{
    display: inline;
}

.tw{
    background-color: #b1c5ff;
}

.yt{
    background-color: red;
}

.it{
    background-color: darkorange;
}