.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 520px;
    grid-gap: 5px;
    margin-left: 30px;
    margin-right: 30px;
    scroll-behavior: smooth;
    text-align: center;
}

.header-pic{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 100px;
    font-style: bold;
    margin-left: 85px;
    margin-right: 85px;
    color: #ff764d;
    background: url(../images/header.jpg) no-repeat center;
    background-size: cover;
}

.logo{
    padding-top: 110px;
}

.header-description, .concept, .range, .believe, .passion, .work, .range-img{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 220px;
    margin-right: 220px;
    font-size: 20px;
}

.concept-pic-1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.concept-1{
    height: 570px;
    width: 600px;
}

.concept-pic-2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.concept-2{
    height: 350px;
    width: 450px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.range-pic{
    height: 380px;
    width: 640px;
    margin-top: 110px;
    margin-bottom: 110px;
}
