.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 32.5rem;
    grid-gap: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    scroll-behavior: smooth;
    text-align: justify;
}

.header-pic{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 100px;
    font-style: bold;
    margin-left: 7rem;
    margin-right: 7rem;
    color: #ff764d;
    text-align: center;
    background: url(../images/header.jpg) no-repeat center;
    background-size: cover;
}

.logo{
    padding-top: 110px;
}

.header-description, .concept, .range, .believe, .passion, .work, .range-img{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 340px;
    margin-right: 340px;
    font-size: 20px;
}

.concept-pic-1, work-pic-1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 1rem;
}

.believe-pic-1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.concept-1{
    height: 35.5rem;
    width: 35.5rem;
}

.concept-pic-2, .work-pic-2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.believe-pic-2{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 80px;
}

.concept-2{
    height: 22rem;
    width: 28rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.range-pic{
    height: 380px;
    width: 640px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.believe-1{
    height: 22rem;
    width: 29rem;
}

.believe-2{
    height: 22rem;
    width: 29rem;
    margin-top: 7rem;
}

.believe-3{
    height: 35.5rem;
    width: 35.5rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.passion-img{
    grid-column-start: 1;
    grid-column-end: 3;
}

.passion-pic{
    height: 650px;
    width: 1130px;
}

.work-1{
    height: 22rem;
    width: 29rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.work-2{
    height: 36rem;
    width: 36rem;
}

.join{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.join-pic{
    height: 36rem;
    width: 36rem;
    margin-bottom: 10rem;
}

.join-description{
    height: 36rem;
    width: 36rem;
    background: #b1c5ff;
    text-align: justify;
}

.description{
    padding: 7rem;
    margin-top: 1rem;
}