.nav-menu{
    overflow: hidden;
    list-style-type: none;
    background-color: white;
}

.nav-menu li{
    display: inline;
    margin-left: 20px;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.nav-menu a:active{
    color: #ff764d;
}

.rightside{
    float: right;
}