.nav-menu{
    overflow: hidden;
    list-style-type: none;
    background-color: white;
    min-height: 1.5rem;
}

.nav-menu li{
    display: inline;
    margin-right: 2.5rem;
}

.nav-link{
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.left:active{
    color: #ff764d;
}

.right{
    float: right;
    margin-left: 20px;
}

.right:active{
    color: #0000ff;
}

#logo{
    height: 1.97rem;
    width: auto;
    position: relative;
    top: 7px;
}

.plus-icon{
    height: .95rem;
    width: .95rem;
    position: relative;
    top: 3px;
    left: 6px;
}