.nav-menu{
    overflow: hidden;
    list-style-type: none;
    background-color: white;
}

.nav-menu li{
    display: inline;
    margin-left: 20px;
}

.nav-link{
    text-decoration: none;
    color: black;
    text-align: center;
}

.left:active{
    color: #ff764d;
}

a.rightside{
    float: right;
    margin-right: 20px;
}

a.rightside :active{
    color: #0000ff;
}