.logo-footer{
    font-size: 60px;
    width: 80%;
    margin-left: 7rem;
}

.footer-links{
    list-style-type: none;
    background-color: white;
    margin-left: 4rem;
    margin-bottom: 7rem;
    margin-top: 4rem;
}

.footer-links li{
    display: inline;
}

.f-links{
    margin-right: 1rem;
    font-size: .75rem;
    font-weight: bold;
}

.footer-right{
    font-size: .75rem;
    float: right;
    font-weight: bold;
}

.right-pos{
    margin-right: 4rem;
}

#logo-footer{
    position: relative;
    bottom: 5px;
}

.logo-para{
    position: relative;
    right: 10px;
}